.btn {
  background-color: #0069d9;
  border:           0.1rem solid #0069d9;
  border-radius:    .4rem;
  color:            #fff;
  cursor:           pointer;
  display:          inline-block;
  font-size:        1.1rem;
  font-weight:      700;
  height:           3.8rem;
  letter-spacing:   .1rem;
  line-height:      3.8rem;
  padding:          0 3.0rem;
  text-align:       center;
  text-decoration:  none;
  text-transform:   uppercase;
  white-space:      nowrap;
}

.btn:hover {
  background-color: #606c76;
  border-color:     #606c76;
  color:            #fff;
  outline:          0;
}

.gato {
  display: block;
}
